---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="text-center py-24 px-6">
    <h2
      class="text-4xl sm:text-5xl md:text-6xl font-black mb-6"
      data-aos="fade-up"
    >
      Our Work
    </h2>
    <p
      class="text-base sm:text-lg md:text-xl text-gray-600 max-w-3xl mx-auto mb-20"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      We are a small team of developers who are passionate about building
      amazing things. Our work is a reflection of our dedication to quality,
      creativity, and innovation. We take pride in every project we undertake,
      and we strive to make a positive impact through our work. Take a glimpse.
    </p>
  </section>
</Layout>
