<footer class="w-full">
  <div class="border-t border-gray-300 w-[90vw] mx-auto"></div>
  <div
    class="flex flex-col md:flex-row justify-between items-center py-10 px-6 lg:px-12 gap-4 text-center md:text-left"
  >
    <a href="/" class="flex items-center font-bold no-underline text-black">
      <img src="./logo-black.svg" alt="Team Schnell Logo" class="w-10 h-10" />
    </a>
    <span class="text-sm text-gray-500">
      © 2025 Team Schnell. All rights reserved.
      <br />
      Licensed under the <a
        href="/LICENSE"
        target="_blank"
        class="underline hover:text-black transition">Apache License 2.0</a
      >.
    </span>
  </div>
</footer>
